body {
  background: linear-gradient(80deg, #062e06, #0c2b0c, #061806, #070e09);
  margin: 0rem 16rem;
}

header {
  display: flex;
  justify-content: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
  margin: 2rem;
}

form {
  display: flex;
  justify-content: center;
}
.styling-search {
  padding: 1rem 13rem;
  border: 3.5px solid rgb(106, 106, 139);
  border-radius: 5px;
  margin: 1.5rem;
}

::placeholder {
  font-size: 1rem;
  color: rgb(109, 104, 104);
  font-family: inherit;
  text-align: left;
  opacity: 10rem;
}

.map-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.style-map {
  width: 250px;
  height: 250px;
  background-size: cover;
}

.information-container {
  width: 250px;
  height: 250px;
  color: white;
  background-color: rgb(85, 83, 83);
  text-align: center;
  font-family: inherit;
}

.name {
  font-weight: bold;
  margin-top: 2rem;
  border-bottom: 2px solid white;
}

.information {
  margin-top: 2rem;
}
